/**/

.page--map__background {
  background-color: #00aeff;
}

.page--map__content {
  font-size: 10px;
  color: #000000;
  text-align: center;
//  border: solid 10px blue;  
}

#mapArea {
  position: relative;
  margin-top: 120px;
}

#viewCanvas {
  transition: all 1s ease-in-out;
  position: absolute;
  left: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  transform: translateX(-50%) perspective(300px);
}

#viewCanvas.animation {
  transform: translateX(-20%) perspective(300px) scale3d(10,10,10) rotateX(80deg);
}

#yourChar {
  position: absolute;
  width: 42px;
  height: 56px;
  top: 122px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes encount {
  0% { transform: translateX(-50%) }
  100% {  }
}

/*
@keyframes encount {
  0% { transform: translateX(-50%) perspective(500px) translateZ(100px) rotateZ(0deg); }
  25% { transform: translateX(-50%) perspective(500px) translateZ(200px) rotateZ(180deg); }
  50% { transform: translateX(-50%) perspective(500px) translateZ(300px) rotateZ(360deg); }
  75% { transform: translateX(-50%) perspective(500px) translateZ(400px) rotateZ(540deg); }
  100% { transform: translateX(-50%) perspective(500px) translateZ(500px) rotateZ(720deg); }
}
*/

#msgArea {
  margin-top: 430px;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 10px 0px 10px;
  font-size: 24px;
  color: white;
  text-align: left;
  background-color: #345c6d;
  border: double 10px;
  border-radius: 15px;
}