/**/

.page--map__background {
  background-color: #00aeff;
}

.page--map__content {
  font-size: 16px;
  color: #000000;
  text-align: center;
}

#modalMsg {
  font-size: 24px;
}

#msgArea {
  position: relative;
  z-index: 100000;
  margin-top: 20px;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 10px 0px 10px;
  font-size: 24px;
  color: white;
  text-align: left;
  background-color: #345c6d;
  border: double 10px;
  border-radius: 15px;
}

#ges {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 70%;
  margin-top: 20px; 
  perspective: 300px;
  border: 10px yellow 
}

#mapArea {
  position: relative;
  z-index: 1;
  height: 100px;
}

#viewCanvas {
  transition: all 1s ease-in-out;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translateX(-50%) /* perspective(300px) */;
}

#viewCanvas.animation {
  z-index: 2;
  transform: translateX(-20%) /* perspective(300px) */ translateY(200px) rotateX(80deg) scale3d(10,10,1); 
}

/*
.HP {
  position: absolute;
  z-index: 5;
  width: 25px;
  height: 3px;
  padding: 1px;
  background-color: black;
}
*/

.HP {
  position: absolute;
  z-index: 5;
  width: 120px;
  height: 15px;
  padding: 1px;
  background-color: black;
}

.HP .bar {
  transition: all 1s ease-in-out;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: green;
}

#yourHP.animation {
  left: 10%;
  transform: translateY(-600px) /* perspective(300px) translateZ(250px)*/;
}

#yourHP.fight {
  transition: all 1s ease-in-out 1s;
  left: 10%;
  transform: translateY(150px) /* perspective(300px) translateZ(250px)*/;
}

#yourChar {
  position: absolute;
  z-index: 4;
  width: 42px;
  height: 56px;
  top: 122px;
  left: 50%;
  transform: translateX(-50%);
}

#yourChar.animation {
  position: absolute;
  width: 120px;
  height: 160px;
  left: 10%;
  transform: translateY(-500px) /* perspective(300px) translateZ(250px) */;
}

#yourChar.fight {
  transition: all 1s ease-in-out 1s;
  position: absolute;
  width: 120px;
  height: 160px;
  left: 10%;
  transform: translateY(50px) /* perspective(300px) translateZ(250px) */;
}

#monsterHP.animation {
  left: 60%;
  transform: translateY(-600px) /* perspective(300px) translateZ(150px) */;
}

#monsterHP.fight {
  transition: all 1s ease-in-out 1s;
  left: 60%;
  transform: translateY(110px) /* perspective(300px) translateZ(150px) */;
}

#monsterChar {
    z-index: 4;
}

#monsterChar.animation {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 60%;
  transform: translateY(-500px) /* perspective(300px) translateZ(250px) */;
}

#monsterChar.fight {
  transition: all 1s ease-in-out 1s;
  position: absolute;
  width: 120px;
  height: 120px;
  left: 60%;
  transform: translateY(140px) /* perspective(300px) translateZ(250px) */;
}

/*
@keyframes encount {
  0% { transform: translateX(-50%) perspective(500px) translateZ(100px) rotateZ(0deg); }
  25% { transform: translateX(-50%) perspective(500px) translateZ(200px) rotateZ(180deg); }
  50% { transform: translateX(-50%) perspective(500px) translateZ(300px) rotateZ(360deg); }
  75% { transform: translateX(-50%) perspective(500px) translateZ(400px) rotateZ(540deg); }
  100% { transform: translateX(-50%) perspective(500px) translateZ(500px) rotateZ(720deg); }
}
*/

.bt {
  /*  transition: all 1s ease-in-out 1s; */
  position: absolute;
  z-index: 4;
  width: 100px;
  height: 50px;
  left: 55%;
  margin: 0px;
  padding: 0px;
}

#button1 {  
  transition: all 0.5s;
  transform: translateY(260px) /* perspective(300px) */ translateZ(100px);
}

#button1.tap {  
  transition: all 0.1s;
  transform: translateY(260px) /* perspective(300px) */ translateZ(101px);
/*  animation: bthover1 0.5s; */
}

@keyframes bthover1 {
  0% { background-color: white; }
  50% { background-color: black; }
  100% { background-color: white; }
}
/*
@keyframes bthover1 {
  0% { transform: translateY(300px) perspective(300px) translateZ(280px); }
  50% {  }
  100% { transform: translateY(300px) perspective(300px) translateZ(280px); }
}
*/
#button2 {  
  transform: translateY(310px) /* perspective(300px) */ translateZ(100px);
}

#button2.tap {  
  transition: all 0.1s;
  transform: translateY(310px) /* perspective(300px) */ translateZ(101px);
/*  animation: bthover2 0.5s; */
}

@keyframes bthover2 {
  0% { transform: translateY(375px) perspective(300px) translateZ(280px); }
  50% { transform: translateY(375px) perspective(300px) translateZ(279px); }
  100% { transform: translateY(375px) perspective(300px) translateZ(280px); }
}
